uib-alert.browse-happy.animated(type="danger", close="browseHappy.close()", ng-hide="browseHappy.isHidden")
  | You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com/", target="_blank") upgrade your browser] to improve your experience.
